<div *ngIf="!yaEnvioFormulario">
    <h1>Modificar Turno</h1>
    <hr>
    <div class="row">
        <div class="col">
          Nombre y Apellido:
        </div>
        <div class="col">
            <input type="text" class="form control" placeholder="Texto" [(ngModel)]="txtNombreApellido">
        </div>
    </div>

    <div class="row">
        <div class="col">
            Fecha: 
        </div>
        <div class="col">
            <input type="date" class="form control" [(ngModel)]="txtFecha">
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            Hora: 
        </div>
    
        <div class="col"> 
            <select class="custom-select" style='width:100px' [(ngModel)]="txtHora">
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
            </select>
            : 
            <select class="custom-select" style='width:100px' [(ngModel)]="txtMinutos">
                <option>00</option>
                <option>15</option>
                <option>30</option>
                <option>45</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Categoria: 
        </div>
        <div class="col"> 
            <select class="custom-select" [(ngModel)]="txtCategoria">
                <option value="{{c.id}}" *ngFor="let c of categorias">{{c.nombre}}</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col">
            Orden:
        </div>
        <div class="col">
            <input type="number" class="form control" placeholder="0" [(ngModel)]="txtOrden">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-success" (click)="guardarCambios()">
                Modificar
            </button> 
            <button class="btn btn-danger" (click)="limpiarFiltros()">
                Limpiar
            </button>
        </div>
    </div>
</div>

<div class="card" *ngIf="yaEnvioFormulario">
    <h1>El turno se modificó correctamente.</h1>
    <div [ngClass]="turnoCreado.yaTranscurrio ? 'card-body text-white bg-dark mb-3' : 'card-body bg-light mb-3'">
        <div class="card-header">{{turnoCreado.nombreApellido}}</div>
        <div class="card-body">
            <p class="card-title">{{turnoCreado.fecha}} {{turnoCreado.hora}}</p>
            <p class="card-text">Categoria :{{turnoCreado.categoria.nombre}}</p>
            <p class="card-text">Orden: {{turnoCreado.orden}}</p>
        </div>
        <button [hidden]="turnoCreado.yaTranscurrio" class="btn btn-primary" (click)="modificarTurno(turnoCreado)">
            Modificar
        </button>
        <button [hidden]="turnoCreado.yaTranscurrio" class="btn btn-danger" (click)="borrarTurno(turnoCreado)">
            Borrar
        </button>
    </div>
</div>
