<h1>Busqueda de turnos</h1>
<hr>
<div class="row">
    <div class="col">
        Nombre y Apellido:
    </div>
    <div class="col">
        <input type="text" class="form control" placeholder="Texto" [(ngModel)]="txtBuscador">
    </div>
</div>

<div class="row">
    <div class="col">
        Fecha: 
    </div>
    <div class="col">
        <input type="date" class="form control" placeholder="buscar" [(ngModel)]="txtFecha">
    </div>
</div>

<div class="row">
    <div class="col">
        Categoria: 
    </div>
    <div class="col"> 
        <select class="custom-select" [(ngModel)]="txtCategoria">
            <option>Categoria 1</option>
            <option>Categoria 2</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col">
        <button class="btn btn-success" (click)="buscar()">
            Buscar
        </button> 
        <button class="btn btn-danger" (click)="limpiarFiltros()">
            Limpiar
        </button>
    </div>
</div>