<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form>
            <div class="col">
                <input type="text" class="form-control" name="usuario" placeholder="Usuario" [(ngModel)]="txtUsuario">
            </div>
            <div class="col">
                <input type="password" class="form-control" name="password" placeholder="Contraseña" [(ngModel)]="txtPassword">
            </div>
            <div class="col">
                <button class="btn btn-primary" (click)="login()">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>